@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-poppins: Poppins;

  /* font sizes */
  --font-size-9xl: 28px;

  /* Colors */
  --color-white: #fff;
  --color-darkslategray: #4a4a4a;
}
